.dashboard {
    display: grid;
    color: white;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

    gap: 20px;
    padding: 10px;

    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;

    overflow: hidden;

    animation: fadein 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        /* Ajuste o número de linhas conforme necessário */
    }

    .filtro {
        grid-row: auto;
    }

    .total,
    .estatisca,
    .classificacao {
        grid-row: auto;
        grid-column: span 1;
    }

    .classificacao {
        grid-row: span 1;
    }
}

.filtro {
    border: 1px solid white;
    border-radius: 10px;
    grid-row: span 3;

    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn-anos {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    flex: 0.1;
}

/* Lembrar de tirar isso aqui */
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    border: 1px solid white;
    border-radius: 10px;
    grid-row: span 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.total h1 {
    padding-top: 15px;
}

.trofeu {
    height: 100%;
}

.trofeu img {
    height: 100%;
    width: 100%;
}

.trofeu svg {
    min-width: 100%;
    min-height: 100%;
    box-shadow: none;
}

.trofeu path {
    fill: yellow;
    border: 0.5px solid rgb(12, 12, 78);
}

.estatisca {
    border: 1px solid white;
    border-radius: 10px;
    grid-row: span 1;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: left;

    padding-top: 5px;
}

#box-sudeste {
    background-color: #4fa4b8;
}

#box-nordeste {
    background-color: #f0b541;
}

#box-sul {
    background-color: #686f99;
}

#box-norte {
    background-color: #63ab3f;
}

#box-centro-oeste {
    background-color: #ffae70;
}

.estatisca span {
    margin-left: 15px;
}

.estatisca p {
    text-align: center;
    font-weight: bold;
}

.estatisca .color-box {
    border: solid 1px black;

    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.classificacao {
    border: 1px solid white;
    border-radius: 10px;
    grid-column: span 2;
    grid-row: span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-anos input[type="button"] {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
    transition: 0.45s;
}