.PagInicial {
    color: white;
    align-items: center;
    display: inline;
    padding-top: 90px;
}

.central {
    justify-content: center;
    border: 2px solid;
    align-items: center;
    text-align: center;
    min-height: 12rem;
    min-width: 12rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    justify-content: baseline;
    overflow-wrap: break-word;
    padding: 10px;
}

.txt-inicial {
    position: relative;
    width: max-content;
    margin: auto;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    animation: blink 1s step-end infinite;
    padding: 10px;
}

.descricao {
    padding: 20px;
}

.div-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 12rem;
    min-width: 15rem;
    border-radius: 15px;
    justify-content: baseline;
    padding: 10px;
    padding-top: 40px;
}

button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    transition: 0.45;
}

@keyframes blink {

    from,
    to {
        border-color: rgba(255, 255, 255, 0.75);
    }

    50% {
        border-color: transparent;
    }
}