.pagProjetos {
  padding-top: 10px;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}

.filtro_anos {
  /* border: solid; */
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form label {
  font-size: 18px;
}

#searchname, #searchescola {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filtro_pesquisa {
  color: white;
  /* border: solid; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filtro_pesquisa input[type="text"] {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #70e970;
}

.mainProjetos {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: white;
}

.qntdProjetos {
  display: flex;
  justify-content: center;
}

#projetos-total, #ano {
  color: #70e970;
}

.home {
  margin: 0.5rem;
  text-align: left;
  max-height: 500px;
  min-height: 200px;
  /* overflow-y: auto; */
}

.button-container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.button-container input[type="button"] {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 10px;
  transition: 0.45s;
}

.button-container input[type="button"]:hover {
  background-color: #70e970;
  color: white;
  border-color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.button-container input[type="button"]:focus {
  outline: none;
  box-shadow: 0 0 5px #70e970;
}

.esconder {
  display: none;
}

.toback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 2s;
  color: white;
  gap: 4px;
}

.toback:hover {
  cursor: pointer;
  color: #70e970;
}

/* Media Queries */
@media (min-width: 768px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 70px;
  }

  #searchname, #searchescola {
    flex-direction: row;
  }

  .filtro_pesquisa input[type="text"] {
    width: 60%;
  }

  .button-container {
    flex-wrap: nowrap;
  }
}
